<?xml version="1.0" encoding="UTF-8"?>
<configuration>
        <jmxConfigurator />
        <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
        <property resource="logback.properties" />
         
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${org.simple4j.logging.pattern}</pattern>
		</encoder>
	</appender>

	<logger name="org.simple4j" level="DEBUG">
	</logger>

	 <logger name="org.eclipse.jetty" level="INFO">
	</logger>

	<logger name="org.simple4j.eventdistributor.interceptor.MethodLoggingInterceptor" level="DEBUG">
	</logger>
	
	<logger name="org.simple4j.eventdistributor.dao" level="DEBUG" />

	<logger name="org.simple4j.eventdistributor.validation" level="DEBUG">
	</logger>
	
	<logger name="org.apache.commons.beanutils" level="INFO">
	</logger>
	
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
   